
<h1>Detalles Empleado</h1>

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre:
        </dt>
        <dd class="col-sm-10">
              &nbsp;&nbsp;&nbsp;&nbsp;{{ empleado.nombre }}
        </dd>
        <dt class="col-sm-2">
            Apellido Paterno:
        </dt>
        <dd class="col-sm-10">
             &nbsp;&nbsp;&nbsp;&nbsp;{{ empleado.apPaterno }}
        </dd>
        <dt class="col-sm-2">
           Apellido Materno
        </dt>
        <dd class="col-sm-10">
             &nbsp;&nbsp;&nbsp;&nbsp;{{ empleado.apMaterno }}
        </dd>
        <dt class="col-sm-2">
            Edad:
        </dt>
        <dd class="col-sm-10">
             &nbsp;&nbsp;&nbsp;&nbsp;{{ empleado.edad }}
        </dd>
        <dt class="col-sm-2">
            Genero:
        </dt>
        <dd class="col-sm-10">
             &nbsp;&nbsp;&nbsp;&nbsp;{{ empleado.genero }}
        </dd>
        <dt class="col-sm-2">
            Puesto:
        </dt>
        <dd class="col-sm-10">
             &nbsp;&nbsp;&nbsp;&nbsp;{{ empleado.puesto }}
        </dd>
        <dt class="col-sm-2">
            Tipo de Empleado:
        </dt>
        <dd class="col-sm-10">
             &nbsp;&nbsp;&nbsp;&nbsp;{{ empleado.tipo.tipo }}
        </dd>
        <dt class="col-sm-2">
            Grado de Estudio:
        </dt>
        <dd class="col-sm-10">
             &nbsp;&nbsp;&nbsp;&nbsp;{{ empleado.grado.grado }}
        </dd>
    </dl>
</div>

<div>
    <h4>Direccion</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Calle:
        </dt>
        <dd class="col-sm-10">
            &nbsp;&nbsp;&nbsp;&nbsp;{{ empleado.direccion.calle }}
        </dd>
        <dt class="col-sm-2">
            Numero:
        </dt>
        <dd class="col-sm-10">
            &nbsp;&nbsp;&nbsp;&nbsp;{{ empleado.direccion.numero }}
        </dd>
        <dt class="col-sm-2">
            Codigo postal:
        </dt>
        <dd class="col-sm-10">
            &nbsp;&nbsp;&nbsp;&nbsp;{{ empleado.direccion.cp }}
        </dd>
        <dt class="col-sm-2">
            Entidad Federativa:
        </dt>
        <dd class="col-sm-10">
            &nbsp;&nbsp;&nbsp;&nbsp;{{ empleado.direccion.entidad.entidad }}
        </dd>
    </dl>
</div>

<h4>Telefonos</h4>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Telefono
            </th>
            <th>
                Extension
            </th>
            <th>
                Tipo
            </th>
        </tr>
    </thead>
    <tbody>
        {% for telefono in empleado.Telefonos.all %}
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;{{ telefono.numero }}
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;{{ telefono.ext }}
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;{{ telefono.tipo }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

