{% extends "base.html" %}

{% block content %}

<div class="container d-flex mt-8" style="width: 25%;">
    <div class="col">
        <h2 class="text-center">Editar - Empleado</h2>
    <p></p>
        <form action="" method="post">
            {% csrf_token %}
            <table class="table">
                {{ form }}
{#                {{ inlines.direccion_form }}#}
                {% for formset in inlines %}
                    {{ formset }}
                {% endfor %}
            </table>
            <div class="container d-flex justify-content-center" style="width: 10%;">
                <input type="submit" class="btn btn-primary btn-lg" value="Guardar" style="margin-right: 30px; margin-top: 30px;">
                <input type="submit" class="btn btn-danger btn-lg" style="margin-top: 30px;"
                       onclick="window.location='{% url 'empleados:all' %}'; return false;" value="Cancelar">
            </div>
        </form>
        <h2 class="text-center">Telefonos</h2>
        <div class="d-flex justify-content-start">
            <a href="{% url 'telefonos:telefono_create' empleado.id %}"
               class="d-block btn btn-primary btn-lg my-5">Agregar telefono</a>
        </div>
        <table class="table table-striped mt-8">
            <thead>
                <tr>
                    {% comment %} <th>#</th> {% endcomment %}
                    <th class="text-center" scope="col">Numero</th>
                    <th class="text-center" scope="col">Extension</th>
                    <th class="text-center" scope="col">Tipo</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for telefono in telefonos %}
                <tr>
                    <td class="text-center">{{telefono.numero}}</td>
                    <td class="text-center">{{telefono.ext}}</td>
                    <td class="text-center">{{telefono.tipo}}</td>

                    <td><a href="{% url 'telefonos:Telefono_update' telefono.id %} ">Editar</a></td>
                    {% if telefonos.count > 1 %}
                        <td><a href="{% url 'telefonos:Telefono_delete' telefono.id %}">Eliminar</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}