{% extends 'base.html' %}

{% block content %}

    <h1>Empleados</h1>

    <p>
        <a href="{% url 'empleados:empleado_create' %}" >Agregar</a> |
        <a href="{% url 'empleados:reporte_general' %}" >Reporte excel</a>
    </p>

<div class="container d-flex mt-8">
    <div class="col">
        <table class="table table-striped mt-8">
            <thead>
                <tr>
                    {% comment %} <th>#</th> {% endcomment %}
                    <th class="text-center" scope="col">Nombre</th>
                    <th class="text-center" scope="col">Apellido Paterno</th>
                    <th class="text-center" scope="col">Apellido Materno</th>
                    <th class="text-center" scope="col">Edad</th>
                    <th class="text-center" scope="col">Genero</th>
                    <th class="text-center" scope="col">Puesto</th>
                    <th class="text-center" scope="col">Grado</th>
                    <th class="text-center" scope="col">Tipo</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                {% for empleado in empleado_list %}
                <tr>
                    <td class="text-center">{{empleado.nombre}}</td>
                    <td class="text-center">{{empleado.apPaterno}}</td>
                    <td class="text-center">{{empleado.apMaterno}}</td>
                    <td class="text-center">{{empleado.edad}}</td>
                    <td class="text-center">{{empleado.genero}}</td>
                    <td class="text-center">{{empleado.puesto}}</td>
                    <td class="text-center">{{empleado.grado.grado}}</td>
                    <td class="text-center">{{empleado.tipo.tipo}}</td>
                    <td><a href="{% url 'empleados:empleado_update' empleado.id %} ">Editar</a></td>
                    <td><a href="{% url 'empleados:details_general' empleado.id %} ">Detalles PDF</a></td>
                    <td><a href="{% url 'empleados:empleado_delete' empleado.id %}">Eliminar</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock content %}