{% extends "base.html" %}

{% block content %}

<div class="container d-flex mt-8" style="width: 25%;">
    <div class="col">
        <h2 class="text-center">Empleado</h2>
    <p></p>
        <form action="" method="post">
            {% csrf_token %}
            <table class="table">
                {{ form }}
{#                {{ inlines.direccion_form }}#}
                {% for formset in inlines %}
                    {{ formset }}
                {% endfor %}
            </table>
            <div class="container d-flex justify-content-center" style="width: 10%;">
                <input type="submit" class="btn btn-primary btn-lg" value="Guardar" style="margin-right: 30px; margin-top: 30px;">
                <input type="submit" class="btn btn-danger btn-lg" style="margin-top: 30px;" onclick="window.location='{% url 'empleados:all' %}'; return false;" value="Cancelar">
            </div>
        </form>

    </div>
</div>

{% endblock %}