{% extends "base.html" %}

{% block content %}

<div class="container d-flex justify-content-center mt-5" style="width: 50%;">
    <div class="col mt-5 text-center">
        <h1 class="mb-5">Delete Film</h1>

        <p class="h5">¿Estás seguro que deseas eliminar el empleado</p>
        <h3 class="my-5">{{ empleado }}</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary btn-lg" value="Confirmar" style="margin-right: 30px; margin-top: 30px;">
            <input type="submit" class="btn btn-danger btn-lg" style="margin-top: 30px;" onclick="window.location='{% url 'empleados:all' %}'; return false;" value="Cancelar">
        </form>
    </div>
</div>

{% endblock %}